[data-scope="menu"][data-part="content"] {
    background-color: #ffffff;
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    width: 14rem;
    outline: none;
    box-shadow:
        0 10px 15px -3px rgb(0 0 0 / 0.05),
        0 4px 6px -4px rgb(0 0 0 / 0.05);
    z-index: 800;
}
.dark [data-scope="menu"][data-part="content"] {
    background-color: #18181b;
    border-color: #27272a;
    box-shadow:
        0 10px 15px -3px rgb(0 0 0 / 0.25),
        0 4px 6px -4px rgb(0 0 0 / 0.2);
}

[data-scope="menu"][data-part="item"] {
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #374151;
    cursor: pointer;
    transition: all 0.15s ease;
}
.dark [data-scope="menu"][data-part="item"] {
    color: #e5e5e5;
}

[data-scope="menu"][data-part="item"]:hover {
    background-color: #f3f4f6;
    color: #111827;
}
.dark [data-scope="menu"][data-part="item"]:hover {
    background-color: #27272a;
    color: #fff;
}

[data-scope="menu"][data-part="item"][data-disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;
}

[data-scope="menu"][data-part="item"][data-disabled="true"]:hover {
    background-color: transparent;
}

[data-scope="menu"][data-part="item"] > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
